html, body {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #100726;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 40px 30px 0px 0px;
    margin: 0px;
}

ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.7;
}

ul li a {
    color: white;
    font-family: Arial;
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    font-family: Arial;
    font-size: 12px;
    opacity: 1;
    text-decoration: none;
}

#boxwrapper {
    width: 1150px;
    height: 450px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 525px);
}

.box {
    width: 300px;
    height: 450px;
    margin: 10px 50px 10px 10px;
    padding: 0px 0px 0px 0px;
    background: white;
    float: left;
    border-radius: 30px;
    box-shadow: 10px 20px 30px rgba(100, 100, 100, .5);
}

.blue {
    background: linear-gradient( to bottom right, #19bde6, #199c63);
}

.purple {
    background: linear-gradient( to bottom right, #ca2ded, #1f2bd1);
}

.orange {
    background: linear-gradient( to bottom right, #cf8308, #cf1b7e);
}

h2 {
    color: white;
    font-family: Nunito;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}

p {
    color: white;
    font-family: Nunito;
    font-size: 12px;
    width: 80%;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}

button {
    width: 200px;
    height: 40px;
    color: #222222;
    font-family: Nunito;
    border: none;
    font-weight: bold;
    margin: 50px 20px 0px 50px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.purple-white {
    background: linear-gradient( to bottom right, #ca2ded, #ffffff, #ffffff);
}

.blue-white {
    background: linear-gradient( to bottom right, #19bde6, #ffffff, #ffffff);
}

.orange-white {
    background: linear-gradient( to bottom right, #cf8308, #ffffff, #ffffff);
}

.purple-white:hover {
    background: linear-gradient( to bottom right, #ffffff, #ca2ded, #ca2ded);
}

.blue-white:hover {
    background: linear-gradient( to bottom right, #ffffff, #19bde6, #19bde6);
}

.orange-white:hover {
    background: linear-gradient( to bottom right, #ffffff, #cf8308, #cf8308);
}

/* RESPONSIVENESS */

@media screen and (max-width: 1150px) {

    body {
        height: 1550px;
    }

    #boxwrapper {
        width: 400px;
        height: auto;
        position: absolute;
        top: 100px;
        left: calc(50% - 200px);
        margin-left: 50px;
    }

    .box {
        margin: 10px 10px 10px 10px;
        padding: 0px 0px 0px 0px;
    }
}

@media screen and (max-width: 400px) {

    body {
        height: 1550px;
    }

    #boxwrapper {
        width: 100%;
        height: auto;
        position: absolute;
        top: 100px;
        left: calc(50% - 200px);
        margin-left: 50px;
    }

    .box {
        margin: 10px auto;
        padding: 0px 0px 0px 0px;
        float: none;
    }
}