html, body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #100726;
    z-index: -2;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 40px 30px 0px 0px;
    margin: 0px;
}

ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.7;
}

ul li a {
    color: white;
    font-family: Arial;
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    font-family: Arial;
    font-size: 12px;
    opacity: 1;
    text-decoration: none;
}

#boxwrapper {
    width: 1150px;
    height: 450px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 525px);
}

.box {
    width: 300px;
    height: 450px;
    margin: 10px 50px 10px 10px;
    padding: 0px 0px 0px 0px;
    background: white;
    float: left;
    position: relative;
    background: linear-gradient(0deg, #111111, #222222);
}

.purple:before, .purple:after  {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, #9f0dde, #17171717, #17171717, #ad1538);
    z-index: -1;
}

.blue:before, .blue:after  {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, #1570ad, #17171717, #17171717, #318224);
    z-index: -1;
}

.orange:before, .orange:after  {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, #fc7b03, #17171717, #17171717, #eaf556);
    z-index: -1;
}

.purple:after {
    filter: blur(40px);
}
.blue:after {
    filter: blur(40px);
}
.orange:after {
    filter: blur(40px);
}

h2 {
    color: white;
    font-family: Nunito;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}

p {
    color: white;
    font-family: Nunito;
    font-size: 12px;
    width: 80%;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
}

button {
    width: 200px;
    height: 40px;
    color: #222222;
    font-family: Nunito;
    border: none;
    font-weight: bold;
    margin: 50px 20px 0px 50px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.purple-red {
    background: linear-gradient(90deg, #9f0dde, #ad1538);
}

.blue-green {
    background: linear-gradient(90deg, #1570ad, #318224);
}

.orange-yellow {
    background: linear-gradient(90deg, #fc7b03, #eaf556);
}

button:hover {
    color: white;
}
